{% extends "jsquared_app/base.html" %}
{% block content %}
<h5 class="mb-3 text-danger">Delete Order</h5>

<div class="card card-body">
  <p class="mb-2">
    Are you sure you want to delete Order #<b>{{ order.order_id }}</b>?
  </p>

  <form method="post">
    {% csrf_token %}
    <div class="d-grid gap-2">
      <button class="btn btn-danger">Yes, Delete</button>
      <a class="btn btn-outline-secondary" href="{% url 'order_detail' order.order_id %}">
        Cancel
      </a>
    </div>
  </form>
</div>
{% endblock %}