{% extends "jsquared_app/base.html" %}
{% block content %}
<h5 class="mb-3">Add Seafood Item</h5>

<form method="post" class="card card-body">
  {% csrf_token %}

  <label class="form-label">Seafood Type</label>
  <input class="form-control mb-3" name="seafood_type" type="text" maxlength="50" required>

  <label class="form-label">Unit Price (₱)</label>
  <input class="form-control mb-3" name="seafood_unit_price" type="number" step="0.01" required>

  <label class="form-label">Weight Range (kg)</label>
  <input class="form-control mb-3" name="weight_range" type="number" step="0.01" required>

  <div class="d-grid">
    <button class="btn btn-success">Create</button>
  </div>
</form>
{% endblock %}
